.grid {
  color: black;
  padding-bottom: 14px;

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(5, 30vw);
    grid-gap: 28px;
    min-width: 300px;
  }

  .grid-component {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .grid-component-hover {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: @igWhite;
    display: flex;
    display: none;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    .grid-component-hover-content {
      display: flex;
      justify-content: space-between;
      width: 120px; 

      i {
        font-size: 22px;
        margin-right: 5px;
      }

      div {
        display: flex;
        width: 40px;
      }
    }
  }

  .grid-loadMoreWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: rgb(250,250,250);
  }

  .grid-loadMore {
    width: 180px;
    border-radius: 3px;
    background-color: rgb(25,145,244);
    color: rgb(255,255,255);
    height: 34px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    line-height: 34px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #003569;
    cursor: default;
  }
  
  .footer-text a {
    color: #999;
    margin-left: 10px;
    text-decoration: none;
  }
}