html {
  height: 100%;
}

body {
  background-color: rgb(250,250,250);
  color: #FEFEFE;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(250,250,250);
  position: absolute;
  top: 77px;
  left: 0px;
  padding-bottom: 35px;
  overflow-x: hidden;
}

/* .slideshow {
  background-color: rgb(255,255,255);
  color: rgb(35,35,35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.search-bar-container{
  align-items: center;
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgba(0,0,0,.0975);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 77px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.search-bar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 1010px !important;
  padding: 0px 20px;
  width: 100%;
}

.search-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-title :first-child {
  color: #262626;
  font-size: 26px;
  text-decoration: none;
}

.search-bar-separator {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.search-bar-title :last-child {
  color: #262626;
  font-family: 'Leckerli One', cursive;
  font-size: 24px;
  text-decoration: none;
}

.search-bar-input {
  align-items: center;
  background-color: rgb(250,250,250);
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  box-sizing: border-box;
  color: #999;
  cursor: not-allowed;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 215px;
}

.search-bar-input i {
  font-size: 12px;
  left: 68px;
  position: absolute;
}

.search-bar-buttons {
  margin-left: 30px;
}

.search-bar-buttons :first-child {
  background-color: rgb(25,145,244);
  border-radius: 4px;
  border: none;
  color: rgb(255,255,255);
  cursor: not-allowed;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  outline: none;
  width: 60px;
}

.search-bar-buttons :last-child {
  color: rgb(25,145,244);
  cursor: not-allowed;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.userInfo {
  color: rgb(35,35,35);
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: flex-start;
  height: 152px;
  width: 96vw;
}

.userInfo-imageWrapper {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.userInfo-image {
  border-radius: 76px;
}

.userInfo-textUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.userInfo-textUsername span {
  margin-right: 10px;
  width: 123px;
  border-radius: 3px;
  background-color: rgb(25,145,244);
  color: rgb(255,255,255);
  border: none;
  height: 28px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  vertical-align: center;
  line-height: 28px;
}

.userInfo-username {
  font-size: 31px;
  font-weight: 100;
  margin-right: 20px;
}

.userInfo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: default;
}

.userinfo-textStats {
  display: flex;
  flex-direction: row;
}

.userinfo-textStats div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userinfo-name span {
  font-weight: 500;
}


/* .userinfo-textStatsNumbers {
  margin-right: 5px;
  font-weight: 500;
  font-size: 17px;
} */
.userinfo-textStats div span {
  margin-right: 35px;
}

.userinfo-textStats div span:first-child {
  font-size: 17px;
  font-weight: 500;
  margin-right: 5px;
}

/* .userinfo-textStatsNumbersSubtext {
  margin-right: 35px;
} */

/** {box-sizing: border-box;}*/
/*
.grid-wrapper {
  margin: 0 auto;
  height: 500px;
}
*/

.grid {
  color: black;
  padding-bottom: 14px;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(5, 30vw);
  grid-gap: 28px;
  /*margin: 0 auto;*/
  min-width: 300px;
}

.grid-component {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.grid-loadMoreWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-color: rgb(250,250,250);
}

.grid-loadMore {
  width: 180px;
  border-radius: 3px;
  background-color: rgb(25,145,244);
  color: rgb(255,255,255);
  height: 34px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  vertical-align: center;
  line-height: 34px;
}

.userInfoMobile {
  width: 100%;
  color: rgb(35,35,35);
  display: none;
  cursor: default;
}

.userInfoMobile-top {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 32px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 12px;
}

.userInfoMobile-fullName {
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.userInfoMobile-comment {
  font-weight: 400;
  font-size: 14px;
}

.userInfoMobile-bottom {
  display: grid;
  grid-template-columns: repeat(3, 33vw);
  grid-template-rows: repeat(1, 35px);
  grid-gap: 3px;
  margin-bottom: 12px;
}

.userInfoMobile-bottomStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoMobile-bottomStatsNumbers {
  font-size: 14px;
  font-weight: 500;
}

.userInfoMobile-bottomSubtext {
  font-weight: 400;
  font-size: 14px;
  color: rgb(153,153,153);
}

.userInfoMobile-bottomSubtext:hover {
  color: rgb(35,35,35);
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #003569;
  cursor: default;
}

.footer-text a {
  color: #999;
  margin-left: 10px;
  text-decoration: none;
}

.mobileFooter {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  width: 100%;
  position: fixed;
  bottom: 0vh;
  background-color: rgb(255,255,255);
  border-top: 1px solid rgba(0,0,0,.0975);
}

.mobileFooter-title {
  padding-left: 20px;
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  color: rgb(35,35,35);
  cursor: default;
}

.mobileFooter-buttonsSignUpLogIn {
  padding-right: 20px;
  cursor: pointer;
}

.mobileFooter-buttonsSignUpLogIn span {
  color: rgb(25,145,244);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

@media(min-width: 990px) {

  .grid-wrapper {
    grid-template-columns: repeat(3, 293px);
    grid-template-rows: repeat(5, 293px);
  }
  .userInfo-imageWrapper {
    width: 293px;
  }
  .userInfo {
    width: 935px;
  }

}

@media(max-width: 735px) {

  .container {
    top: 46px;
  }

  .searchBar-container {
    height: 46px;
    display: block;
  }

  .searchBar {
    justify-content: center;
    flex-direction: column;
  }

  .searchBar-buttons {
    display: none;
  }

  .searchBar-title {
    display: none;
  }

  .userInfoMobile {
    display: block;
  }

  .userinfo-textStats {
    display: none;
  }

  .userinfo-name {
    display: none;
  }

  .userInfo-textUsername {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100vh;
    margin-top: -6px;
  }

  .userInfo-username {
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
  }

  .userInfo-textUsername span {
    width: 240px;
  }

  .userInfo {
    height: 77px;
    margin-top: 23px;
    margin-bottom: 30px;
  }

  .userInfo-image {
    height: 77px;
  }

  .userInfo-imageWrapper {
    width: 77px;
  }

  .grid-wrapper {
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(5, 33vw);
    grid-gap: 3px;
  }

  .grid-loadMoreWrapper {
    height: 76px;
  }

  .grid-loadMore {
    width: 90vw;
    height: 34px;
  }

  .footer-text {
    display: none;
  }

  .mobileFooter {
    display: flex;
  }
}

@media(max-width: 580px) {
  .search-bar-input {
    display: none;
  }
}
