html {
  height: 100%;
}

body {
  background-color: rgb(250,250,250);
  color: #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'VT323', monospace;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(250,250,250);
  position: absolute;
  top: 77px;
  left: 0px;
}

.slideshow {
  background-color: rgb(255,255,255);
  color: rgb(35,35,35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchBar {
  width: 100%;
  height: 77px;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  top: 0;
  color: rgb(35,35,35);
}

.searchBar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
}

.searchBar-title i {
  padding-right: 20px;
  border-right: 1px solid rgba(0,0,0, 0.45);
  color: rgb(35,35,35);
}

.searchBar span {
  padding-left: 20px;
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  color: rgb(35,35,35);
}

.searchBar input {
  height: 24px;
  width: 200px;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  background-color: rgb(250,250,250);
  text-align: center;
  color: rgb(35,35,35);
  outline: none;
}

.searchBar-buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
  color: rgb(35,35,35);
  margin-left: 65px;
  margin-right: 42px;
}

.userInfo {
  color: rgb(35,35,35);
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  height: 152px;
}

.userInfo-image {
  border-radius: 76px;
}

.userInfo-textUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo-textUsername button {
  margin-right: 10px;
  width: 123px;
  border-radius: 3px;
  background-color: rgb(250,250,250);
  border: 1px solid rgba(0,0,0,.0975);
  height: 28px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.userInfo-username {
  font-size: 31px;
  font-weight: 100;
  margin-right: 20px;
}

.userInfo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userinfo-textStats {
  display: flex;
  flex-direction: row;
}

.userinfo-textStats div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userinfo-textStatsNumbers {
  margin-right: 5px;
  font-weight: 500;
  font-size: 17px;
}

.userinfo-textStatsNumbersSubtext {
  margin-right: 35px;
}
