html {
  height: 100%;
}

body {
  background-color: rgb(250,250,250);
  color: #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(250,250,250);
  position: absolute;
  top: 77px;
  left: 0px;
}

.slideshow {
  background-color: rgb(255,255,255);
  color: rgb(35,35,35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchBar {
  width: 100%;
  height: 76px;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  top: 0;
  color: rgb(35,35,35);
}

.searchBar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
}

.searchBar-title i {
  padding-right: 20px;
  border-right: 1px solid rgba(0,0,0, 0.45);
  color: rgb(35,35,35);
}

.searchBar span {
  padding-left: 20px;
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  color: rgb(35,35,35);
}

.searchBar input {
  height: 24px;
  width: 200px;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  background-color: rgb(250,250,250);
  text-align: center;
  color: rgb(35,35,35);
  outline: none;
}

.searchBar-buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
  color: rgb(35,35,35);
  margin-left: 65px;
  margin-right: 42px;
}

.userInfo {
  color: rgb(35,35,35);
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: flex-start;
  height: 152px;
  width: 96vw;
}

.userInfo-imageWrapper {
  width: 30vw;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.userInfo-image {
  border-radius: 76px;
}

.userInfo-textUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo-textUsername button {
  margin-right: 10px;
  width: 123px;
  border-radius: 3px;
  background-color: rgb(25,145,244);
  color: rgb(255,255,255);
  border: none;
  height: 28px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.userInfo-username {
  font-size: 31px;
  font-weight: 100;
  margin-right: 20px;
}

.userInfo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userinfo-textStats {
  display: flex;
  flex-direction: row;
}

.userinfo-textStats div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userinfo-textStatsNumbers {
  margin-right: 5px;
  font-weight: 500;
  font-size: 17px;
}

.userinfo-textStatsNumbersSubtext {
  margin-right: 35px;
}

/** {box-sizing: border-box;}*/
/*.grid-wrapper {
  margin: 0 auto;
  height: 500px;
}*/

/*.grid {
  color: black;
}*/

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(6, 30vw);
  grid-gap: 28px;
  margin: 0 auto;
}

.userInfoMobile {
  width: 100%;
  color: rgb(35,35,35);
}

.userInfoMobile-top {
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 32px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 12px;
}

.userInfoMobile-fullName {
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.userInfoMobile-comment {
  font-weight: 400;
  font-size: 14px;
}

.userInfoMobile-bottom {
  display: grid;
  grid-template-columns: repeat(3, 33vw);
  grid-template-rows: repeat(1, 35px);
  grid-gap: 3px;
  margin-bottom: 12px;
}

.userInfoMobile-bottomStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userInfoMobile-bottomStatsNumbers {
  font-size: 14px;
  font-weight: 500;
}

.userInfoMobile-bottomSubtext {
  font-weight: 400;
  font-size: 14px;
  color: rgb(153,153,153);
}

.userInfoMobile-bottomSubtext:hover {
  color: rgb(35,35,35);
}

@media(min-width: 990px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 293px);
    grid-template-rows: repeat(6, 293px);
  }
  .userInfo-imageWrapper {
    width: 293px;
  }
  .userInfo {
    width: 935px;
  }
}

@media(max-width: 735px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(6, 33vw);
    grid-gap: 3px;
  }

  .userinfo-textStats {
    display: none;
  }

  .userinfo-name {
    display: none;
  }

  .userInfo-textUsername {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
  }

  .userInfo-username {
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
  }

  .userInfo-textUsername button {
    width: 240px;
  }

  .userInfo {
    height: 77px;
    margin-top: 23px;
    margin-bottom: 24px;
  }

  .userInfo-image {
    height: 77px;
  }

  .userInfo-imageWrapper {
    width: 77px;
  }
}
